*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.bg-Header {
    background-color: #393838;
    height: 50%;
}

.logo {
    margin: auto;
    width: 80%;
}

.navbar-brand {
    width: 30%;
}

.img-container1 {
    background: url("../img/Picture3.jpg") no-repeat center;
    background-size: cover;
}

.jumbotron {
    height: 400px;
}

div p {
    color: white;
    text-align: center;
    font-size: 1em;
}

.lead {
    display: flex;
    justify-content: space-around;
}

.btn {
    margin-top: 140px;
    background-color: rgb(69,104,175);
    color: #fff;
    border-color: #fff;
}
